*

.button {
    display: flex;
    justify-content: center;
    margin: 30px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: 10px 20px;

}
.button:hover { background: rgb(232,95,76); }
.button:active { background: rgb(152,15,0); }

